<div class="row stretch" id="mrview">
  <div class="col stretch" style="margin: 1em">
    <app-input-component></app-input-component>
  </div>
  <div class="col center">
    <app-mr-node fn="Mapper" *ngFor="let m of mappers"></app-mr-node>
  </div>
  <div class="col stretch" style="margin: 1em; overflow-y: auto">
    <app-shuffle-component></app-shuffle-component>
  </div>
  <div class="col center">
    <app-mr-node fn="Reduce" *ngFor="let r of reducers"></app-mr-node>
  </div>
  <div class="col stretch" style="margin: 1em; overflow-y: auto">
    <app-output-component></app-output-component>
  </div>
</div>
