<div class="row stretch" id="mrview">
  <div class="col center" >
    Input
  </div>
  <div class="col center">
    <app-mr-node fn="Mapper"></app-mr-node>
    <app-mr-node fn="Mapper"></app-mr-node>
    <app-mr-node fn="Mapper"></app-mr-node>
    <app-mr-node fn="Mapper"></app-mr-node>
    <app-mr-node fn="Mapper"></app-mr-node>
  </div>
  <div class="col center">
    Shuffle
  </div>
  <div class="col center">
    <app-mr-node fn="Reduce"></app-mr-node>
    <app-mr-node fn="Reduce"></app-mr-node>
    <app-mr-node fn="Reduce"></app-mr-node>
  </div>
  <div class="col center">
    Output
  </div>
</div>
